[Unit]
Description=Sabayon Steam Box
Before=display-manager.service
After=sabayonlive.service network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/sabayon-steambox.sh

[Install]
WantedBy=multi-user.target
